* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

:root {
  --dark: #000;
  --nav-bg: #fbfbfb;
  --light: #fff;
  --red-border: #d71522;
  --gray-border: #c0c0c0;
  --font-family: Montserrat;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--dark);
}
